<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://webapp20170404013249.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webapp20170404013249.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebApp20170404013249</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebApp20170404013249</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=db9srv1.database.windows.net;Initial Catalog=db9;User ID=sysadmin;Password=Pa$$w0rd1234;Application Name=EntityFramework" Name="Data Source=db9srv1.database.windows.net;Initial Catalog=db9;User ID=sysadmin;Password=Pa$$w0rd1234;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApp.Models.ApplicationDbContext, WebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AW" Order="2" Enabled="False">
          <Destination Path="Data Source=db9srv1.database.windows.net;Initial Catalog=db9;User ID=sysadmin;Password=Pa$$w0rd1234;Application Name=EntityFramework" Name="Data Source=db9srv1.database.windows.net;Initial Catalog=db9;User ID=sysadmin;Password=Pa$$w0rd1234;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApp.EF.AW, WebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AW-Web.config Connection String">
      <ParameterValue>Data Source=db9srv1.database.windows.net;Initial Catalog=db9;User ID=sysadmin;Password=Pa$$w0rd1234;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=db9srv1.database.windows.net;Initial Catalog=db9;User ID=sysadmin;Password=Pa$$w0rd1234;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>